  <div class="inspiring">
      <div class="inspiring-quote">
        <p>
          <%= show.content %>
        </p>
      </div>
      <div class="autor">
        <p>- <%= show.name %></p>
      </div>
    </div>